@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Serilog.Ui.Web.ViewModel.LogViewModel
@{
    const int pageLength = 5;
    var endIndex = 5;
    var startIndex = 1;
    var hasMore = false;

    var totalPages = Model.LogCount / Model.Count;
    totalPages += Model.LogCount % Model.Count != 0 ? 1 : 0;

    if (totalPages > 5)
    {

        if (totalPages == Model.Page)
        {
            hasMore = false;
            startIndex = totalPages - pageLength;
            endIndex = totalPages;
        }
        else if (totalPages - pageLength == 1)
        {
            hasMore = true;
        }
        else
        {
            if (totalPages - Model.Page > pageLength)
            {
                hasMore = true;
                startIndex = Model.Page;
                endIndex = Model.Page + pageLength;
            }
            else
            {
                hasMore = false;
                startIndex = totalPages - pageLength;
                endIndex = totalPages;
            }
        }
    }
}

<div class="table-pagination">
    <input type="hidden" id="page" name="page" />
    <ul class="pagination">
        @if (Model.Page != 1 || startIndex != 1)
        {
            var value = Model.Page - 1;
            <li class="page-item previous">
                <a href="#" data-val="@value" tabindex="@value" class="page-link">Previous</a>
            </li>
        }
        @for (var i = startIndex; i <= endIndex; i++)
        {
            if (Model.Page == i)
            {
                <li class="page-item active">
                    <span data-val="@i" class="page-link disabled">
                        @i
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
            }
            else
            {
                <li>
                    <a href="#" data-val="@i" tabindex="@i" class="page-link">@i</a>
                </li>
            }
        }
        @if (hasMore)
        {
            var value = Model.Page + 1;
            <li class="page-item ">&nbsp;...&nbsp;</li>
            <li class="page-item next">
                <a href="#" data-val="@value" tabindex="@value" class="page-link">Next</a>
            </li>
        }
    </ul>
</div>