@model LogViewModel
@{
    var totalPages = Model.LogCount / Model.Count;
    totalPages += Model.LogCount % Model.Count != 0 ? 1 : 0;
    var endIndex = 5;
    var startIndex = 1;
    var hasMore = false;
    if (totalPages > 5)
    {

        if (totalPages - Model.Page > 2)
        {
            hasMore = true;
            startIndex = Model.Page;
            endIndex = Model.Page + 5;
        }
    }
}

<div class="table-pagination">
    <input type="hidden" id="page" name="page" />
    <ul class="pagination">
        @if (Model.Page != 1)
        {
        var value = Model.Page - 1;
        <li class="page-item previous">
            <a href="#" data-val="@value" tabindex="@value" class="page-link">Previous</a>
        </li>
        }
        @for (var i = startIndex; i <= endIndex; i++)
        {
        if (Model.Page == i)
        {
        <li class="page-item active">
            <span class="page-link disabled">
                @i
                <span class="sr-only">(current)</span>
            </span>
        </li>
        }
        else
        {
        <li>
            <a href="#" data-val="@i" tabindex="@i" class="page-link">@i</a>
        </li>
        }
        }
        @if (hasMore)
        {
        var value = Model.Page + 1;
        <li class="page-item ">&nbsp;...&nbsp;</li>
        <li class="page-item next">
            <a href="#" data-val="@value" tabindex="@value" class="page-link">Next</a>
        </li>
        }
    </ul>
</div>