@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Serilog.Ui.Web

@model Serilog.Ui.Web.ViewModel.LogViewModel
@{
    ViewData["Title"] = "Log List";
    Layout = "~/Views/Shared/_LogLayout.cshtml";
    var levelClass = string.Empty;
    var showingItemsStart = (Model.CurrentPage - 1) * Model.Count;
    int showingItemsEnd;
    if (showingItemsStart == 0)
    {
        showingItemsStart = 1;
        showingItemsEnd = 10;
    }
    else
    {
        showingItemsEnd = showingItemsStart + Model.Count;
    }
}

<div class="row">
    <div class="col-sm-6 col-md-6">
        <h1>Log List</h1>
    </div>
    <div class="col-sm-6 col-md-6">
        <partial name="_Login" model="Model" />
    </div>
</div>

<form method="get" asp-action="Index">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="table-select" id="logCount">
                <label>
                    Show
                    <select asp-items="@Model.LogCountSelectListItems" name="count" class="form-control form-control-sm">
                    </select>
                    entries
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="table-select" id="logFilter">
                <label>
                    Level
                    <select asp-items="@Model.LogLevelSelectListItems" name="level" class="form-control form-control-sm">
                    </select>
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="table-filter">
                <label>
                    Search message:
                    <input type="search" name="search" id="search" class="form-control form-control-sm" placeholder="" value="@Model.SearchCriteria">
                </label>
            </div>
        </div>
    </div>

    <table class="table" id="logTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="id">#</th>
                <th scope="col" class="level">Level</th>
                <th scope="col" class="date">Date</th>
                <th scope="col" class="message">Message</th>
                <th scope="col">Exception</th>
                <th scope="col">Properties</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.Logs)
            {
                switch (log.Level)
                {
                    case "Verbose":
                    case "Debug":
                        levelClass = "bg-success";
                        break;
                    case "Information":
                        levelClass = "bg-primary";
                        break;
                    case "Warning":
                        levelClass = "bg-warning";
                        break;
                    case "Error":
                        levelClass = "bg-danger";
                        break;
                }

            <tr class="@log.Level">
                <td>@log.RowNo</td>
                <td class="text-center"><span class="log-level text-white @levelClass">@log.Level</span></td>
                <td class="text-center">@log.Timestamp.ToString("MM/dd/yyyy HH:mm:ss.fff")</td>
                <td class="log-message">
                    <span class="overflow-auto"><truncate length="100">@log.Message</truncate></span>
                </td>
                <td class="text-center">
                    @if (log.Exception != null)
                            {

                    <a href="#" title="Click to view" class="modal-trigger" data-type="text">
                        View
                        <span style="display: none">@log.Exception</span>
                    </a>
                            }
                </td>
                <td class="text-center">
                    <a href="#" class="modal-trigger" title="Click to view" data-type="@log.PropertyType">
                        View
                        <span style="display: none">@log.Properties</span>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-12 col-md-5">
            <div class="table-paging-info">Showing @showingItemsStart to @showingItemsEnd of @Model.LogCount entries</div>
        </div>
        <div class="col-sm-12 col-md-7">
            <partial name="_Paging" model="Model" />
        </div>
    </div>
</form>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>